<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>cocweb</display-name>
  <servlet>
        <servlet-name>CoachController</servlet-name>
        <servlet-class>coach.CoachController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoachManager</servlet-name>
        <servlet-class>coach.CoachManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherController</servlet-name>
        <servlet-class>coach.TeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>ls.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoachController</servlet-name>
        <url-pattern>/CoachController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoachManager</servlet-name>
        <url-pattern>/CoachManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherController</servlet-name>
        <url-pattern>/TeacherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
</web-app>